<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/vue@next"></script>
    <title>Learning Vue</title>
    <link rel="stylesheet" href="./index.css">
</head>
<body>
   <div class="header"></div>
   <!-- end of the header -->

   <div class="container">
 <div class="product-image">
    <img :src="picture" alt="">
 </div>
   </div>

    <div id="app">
      <h1 style="text-align: center;">{{product}}</h1>
      <p> {{description}}</p>
      <!-- <P v-show="instock">IN STOCK</P> -->
      <P v-if="instock > 10">IN STOCK</P>
      <!-- <p v-if-else= "instock <=10 && instock > 0">ALMOST OUT OF STOCK</p> -->
      <P v-else>OUT OF STOCK</P>
    <ul>
      <li v-for='detail in details'>{{detail}}</li>
    </ul>

    <div v-for = "variant in variants" :key="variant.id"> {{variant.color}}</div>
     <p > <a href="addtocart.html"> cart({{cart}})</a></p>
    <button @click = "addToCart">add to cart</button>
    <button @click="addToCart">add to cart</button>
    </div>


    
    <script src="./main.js"></script>
  
</body>
</html>